# OS
.DS_Store
Thumbs.db

# VS Code / IDE
.vscode/
.idea/

# Python (just in case)
__pycache__/
*.pyc

# Jupyter (just in case)
.ipynb_checkpoints/

# Temp files
*.log
tmp/
temp/

# Data (not tracked)
data/
*.zip
*.shp
*.shx
*.dbf
*.prj
*.cpg

# Postgres volume
postgres-data/
